bin/Debug/
bin/Release/
build-debug/
build-release/
packages/
docs/site/
*.pdb
*.exe
lib/
*.ilk
*.sqlite
src/fmt/

bin/objframe

build/
*.pyc
reference/html/
*.lnk
.vs/*
/vcpkg_installed
/bin/RelWithDebInfo
