/* Blog Styles */
.mdx-author {
  display: flex;
  font-size: 13.6px;
}
.mdx-author img {
  height: 40px;
  border-radius: 100%;
}
.mdx-author p:first-child {
  flex-shrink: 0;
  margin-right: 16px;
}
.mdx-author p > span {
  display: block;
}