/* Blog Styles */
.mdx-author {
  display: flex;
  font-size: 13.6px;
}
.mdx-author img {
  height: 40px;
  border-radius: 100%;
}
.mdx-author p:first-child {
  flex-shrink: 0;
  margin-right: 16px;
}
.mdx-author p > span {
  display: block;
}

[data-md-color-scheme="default"] .md-header {
  background: linear-gradient(90deg, #003d99 100%, #b31a1a 100%);
}

[data-md-color-scheme="slate"] .md-header {
  background: linear-gradient(135deg, #1a202c 0%, #c13b3b 100%);
}